name: Deploy Website to Azure App Service

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Azure
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Zip website
      run: zip -r site.zip index.html

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: az400-web-3a9f0512
        package: site.zip
